<nav id="main-nav" class="main-nav">
		<div class="site-nav">
			<ul>
				<li id="tppLink" class="has-subnav"  ng-class="isTabActive('tpc')"><a
					href="#requestList">Loans</a>
					<ul id="sidebar" style="display: block; width: 18%; top: 121px;">
						<li><a href="#requestList">Loan Request List</a></li>
						<li><a href="#searchTPP">Apply for Loan</a></li>
					</ul></li>
				<li id="apiLink" class="has-subnav" ng-class="isTabActive('api')"><a
					href="#apiAdministration">Credit Cards</a></li>			
			</ul>
		</div>
	</nav>